# ID de la carpeta raíz de Google Drive que quieres listar
GOOGLE_DRIVE_ROOT_FOLDER_ID="TU_ID_DE_CARPETA_DRIVE"

# Credenciales de Cuenta de Servicio de Google Workspace / Google Cloud
GOOGLE_CLIENT_EMAIL="tu-servicio@proyecto.iam.gserviceaccount.com"

# Asegúrate de envolver la clave privada entre comillas y conservar los saltos de línea \n
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
